<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav
  class="dds__side-nav__wrapper"
  data-dds="side-nav"
  id="sidenav-980692471"
  aria-label="Side Navigation example"
>
  <section class="dds__side-nav">
    <ul class="dds__side-nav__menu">
      <li class="dds__side-nav__item">
        <a href="javascript:void(0)">
          <span
            class="dds__icon dds__icon--home dds__side-nav__icon"
            aria-hidden="true"
          ></span>
          <span>Home</span>
        </a>
      </li>
      <li class="dds__side-nav__item">
        <a (click)="navigate()">
          <span
            class="dds__icon dds__icon--stack dds__side-nav__icon"
            aria-hidden="true"
          ></span>
          <span>Audit Log</span>
        </a>
      </li>
      <li class="dds__side-nav__group">
        <button type="button" aria-haspopup="true" aria-expanded="false">
          <span
            class="dds__icon dds__icon--toolbox dds__side-nav__icon"
            aria-hidden="true"
          ></span>
          <span>Getting Started</span>
        </button>
        <ul class="dds__side-nav__menu">
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Vanilla</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Banner</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Web Components</span></a>
          </li>
        </ul>
      </li>
      <li class="dds__side-nav__group">
        <button type="button" aria-haspopup="true" aria-expanded="false">
          <span
            class="dds__icon dds__icon--star dds__side-nav__icon"
            aria-hidden="true"
          ></span>
          <span>Updates</span>
        </button>
        <ul class="dds__side-nav__menu">
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Component Status</span></a>
          </li>
        </ul>
      </li>

      <li class="dds__side-nav__group">
        <button type="button" aria-haspopup="true" aria-expanded="false">
          <span
            class="dds__icon dds__icon--objects dds__side-nav__icon"
            aria-hidden="true"
          ></span>
          <span>Components</span>
        </button>
        <ul class="dds__side-nav__menu">
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Badge</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Banner</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Breadcrumb</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Button</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Card</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Carousel</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Checkbox</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"
              ><span>Divider &amp; Container</span></a
            >
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Drawer</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Dropdown</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Filter</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Footer</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Form</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Link</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>List</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Loading Icon</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Masthead</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Message Bar</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Modal</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Nav</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Notification</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Pagination</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Popover</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Product Stack</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Progress</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Radio Button</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Rating</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Select</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>ShowHide</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Side Nav</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Slider</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Tab</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Table</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Tag</span></a>
          </li>
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Tooltip</span></a>
          </li>
        </ul>
      </li>
      <li class="dds__side-nav__group">
        <button type="button" aria-haspopup="true" aria-expanded="false">
          <span
            class="dds__icon dds__icon--user dds__side-nav__icon"
            aria-hidden="true"
          ></span>
          <span>Patterns</span>
        </button>
        <ul class="dds__side-nav__menu">
          <li class="dds__side-nav__item">
            <a href="javascript:void(0)"><span>Side Navigation</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <div class="dds__side-nav__toggle">
    <button type="button" aria-label="Collapse side navigation">
      <span class="dds__icon dds__icon--chevron-left" aria-hidden="true"></span>
    </button>
    <button type="button" aria-label="Expand side navigation">
      <span
        class="dds__icon dds__icon--chevron-right"
        aria-hidden="true"
      ></span>
    </button>
  </div>
</nav>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
