<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div style="padding: 1rem">
  <h3 style="color: rgb(32, 32, 32)">Audit Log</h3>
  <strong style="color: rgb(32, 32, 32)">This is some audit log stuff.</strong>
  <div style="border: 1px solid darkgrey; padding: 1rem; margin-top: 1rem">
    <h6>All logged activities</h6>
    <div
      style="margin-top: 1rem"
      class="dds__table"
      role="table"
      id="table-208452021"
    ></div>
    <div
      class="dds__pagination"
      data-dds="pagination"
      id="table-208452021-pagination"
      role="navigation"
    >
      <div class="dds__pagination__summary">
        <label
          class="dds__pagination__per-page-label"
          for="pagination-per-page-table-208452021-pagination"
          >Items per page</label
        >
        <div
          class="dds__select dds__select--sm dds__pagination__per-page-select"
          data-dds="select"
          id="select-277937242"
        >
          <div class="dds__select__wrapper">
            <select
              id="select-control-277937242"
              aria-label="Select label"
              class="dds__select__field"
              aria-describedby="select-helper-277937242"
              required="true"
            >
              <option value="6">6</option>
              <option value="8">8</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="dds__pagination__range" aria-live="polite">
          <span class="dds__pagination__range-start"></span>
          –
          <span class="dds__pagination__range-end"></span>
          <span class="dds__pagination__range-total-label">
            of
            <span class="dds__pagination__range-total"></span>
            items
          </span>
        </div>
      </div>
      <div class="dds__pagination__nav">
        <button
          class="dds__button dds__button--tertiary dds__button--sm dds__button__icon dds__pagination__first-page"
          type="button"
          aria-label="First page"
        ></button>
        <button
          class="dds__button dds__button--tertiary dds__button--sm dds__button__icon dds__pagination__prev-page"
          type="button"
          aria-label="Previous page"
        >
          <span class="dds__pagination__prev-page-label">Previous</span>
        </button>
        <div class="dds__pagination__page-range">
          <label
            class="dds__pagination__page-range-label"
            for="pagination-current-page-table-208452021-pagination"
            >Page</label
          >
          <div
            id="text-input-container-813211457"
            class="dds__input-text__container dds__input-text__container--sm"
          >
            <div
              class="dds__input-text__wrapper dds__pagination__page-range-current-wrapper"
            >
              <input
                type="text"
                class="dds__input-text dds__pagination__page-range-current"
                name="text-input-control-name-813211457"
                id="pagination-current-page-table-208452021-pagination"
                required="true"
                aria-labelledby="text-input-label-813211457 text-input-helper-813211457"
              />
            </div>
          </div>
          <div class="dds__pagination__page-range-total-label">
            of&nbsp;
            <span class="dds__pagination__page-range-total"></span>
          </div>
        </div>
        <button
          class="dds__button dds__button--tertiary dds__button--sm dds__button__icon dds__pagination__next-page"
          type="button"
          aria-label="Next page"
        >
          <span class="dds__pagination__next-page-label">Next</span>
        </button>
        <button
          class="dds__button dds__button--tertiary dds__button--sm dds__button__icon dds__pagination__last-page"
          type="button"
          aria-label="Last page"
        ></button>
      </div>
    </div>
    <div>
      <div
        id="modal-342760920"
        role="dialog"
        data-dds="modal"
        data-trigger="#table-208452021"
        class="dds__modal"
        aria-labelledby="modal-headline-359054533"
      >
        <div class="dds__modal__content">
          <div class="dds__modal__header">
            <h3 class="dds__modal__title" id="modal-headline-359054533">
              Present new laptop
            </h3>
          </div>
          <div id="modal-body-359054533" class="dds__modal__body">
            <p>
              Small, light, and stylish laptops and 2-in-1s designed for
              ultimate productivity. A new era of collaboration and connectivity
              to work anywhere. XPS laptops and 2-in-1s are precision crafted
              with premium materials, featuring stunning displays and the
              performance you demand to express your creative self and your big
              ideas.
              <a href="https://www.dell.com">dell.com</a>
            </p>
          </div>
          <div class="dds__modal__footer">
            <button
              class="dds__button dds__button--secondary dds__button--md"
              type="button"
              name="modal-primary-button"
            >
              No
            </button>
            <button
              class="dds__button dds__button--md"
              type="button"
              name="modal-secondary-button"
            >
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
